/* Columns & Row */
.row {
  width: 90%;
  margin: 0 auto 20px; }

.column {
  float: left;
  margin-right: 2%; }

.column:last-of-type {
  border-left: 0; }

.column.two-third {
  width: 65%; }

.column.one-half {
  width: 49%; }

.column.one-third {
  width: 32%; }

.column:last-of-type {
  margin-right: 0; }
