/* Header */
header {
  background: $blueGray;
  opacity: .5;
  padding: 10px;
  margin-bottom: 20px;

  @include breakpoint(phone){
	text-align: center;
	}
}

/* Cancel the header margin on home page. */
body#home header {
  margin-bottom: 0;
}

header .row {
  margin-bottom: 0;
}

.logo {
  float: left;
  width: 65px;

  @include breakpoint(phone){
  	float: none;
    width: 80px;
  }
}