* { box-sizing: border-box; }

//imports
@import 'mixins';
@import 'grid';
@import 'colors';

@import 'links';
@import 'nav';
@import 'header';
@import 'hero';
@import 'footer';
@import 'map';

/*page styles*/

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', helvetica, sans-serif;
  @include clearfix;
}
h2{
	color: #7f8c8d;
	opacity: .5;
}